.logo {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 5px;
    }
.img_logo {
    width: 43%;
    margin: 20px 0 10px;
}
.localisation{
    @include flex_center;
    width: 100%;
    box-shadow: inset 0 2px 4px -3px;
    background-color: #EAEAEA;
    a {
        font-size: 13px;
        color: #353535;
        text-decoration: none;
        padding: 12px 0 12px 0;
    }
}
.fa-map-marker-alt{
    margin-right: 7px;
}
.introduction{
    @include flex_center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $background_claire;
    h1{
        @include flex_center;
        flex-wrap: wrap;
        text-align: center;
        width: 70%;
        font-size: 22px;
        margin-top: 16px;
    }
    p{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 0;
        margin-bottom: 16px;
        font-size: 14px;
    }
    @include bouton;
    a{
        display: flex;
    }
}
.fa-arrow-left{
    position: absolute;
    left: 18px;
    top: 22px;
    @include lien_noir
}
.img_fond{
    width: 100%;
    margin-bottom: -40px;
    object-fit: cover;
    max-height: 230px;
}
@media screen and (min-width: 768px){
    .localisation{
        a{
            font-size: 15px;
        }
    }
    .introduction{
        h1{
            font-size: 25px;
        }
        p{
            font-size: 16px;
        }
        a{
            padding: 23px;
            border-radius: 33px
        }
    }
}
@media screen and (min-width: 768px){
    .img_logo{
        width: 37%;
    }
}
@media screen and (min-width: 1024px){
    .img_logo{
        width: 25%;
    }
}